.port-section {
    text-align: center;
    margin-top: 50px;
}

.column{
    float: left;
    width: 25%;
    padding: 0 10px;
}
.row{
    margin: 0 -5px; 
 } 

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .cards {
    height:100%;
    margin-top: 50px;
    padding: 16px;
    text-align: center;
    margin-top: 30px;
  }
   
  .cards:hover{
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    
  }

  .prod{
    text-align: center;
    color: white;
  }
  .hero{
    text-align: center;
  }
  

  